
.bellIcon {
  width: 50px;
  margin: 20px 0px;
}
.bellIcon path {
  fill: rgb(168, 131, 255);
}

.notificationPara {
  color: rgb(109, 108, 108);
  font-size: 1.1em;
  font-weight: 500;
  text-align: center;
  padding: 10px 50px;
  text-align: center;

}
.modal-content {
    border-radius: 20px !important;
    min-height: 30rem !important;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  font-size: 1.5em;
  padding-bottom: 2em;
}

.AllowBtn {
  width: 120px;
  height: 25px;
  background-color: rgb(168, 131, 255);
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 0.7em;
  font-weight: 600;
  cursor: pointer;
}

.NotnowBtn {
  width: 120px;
  height: 25px;
  color: rgb(168, 131, 255);
  border: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 0.7em;
  cursor: pointer;
  border-radius: 20px;
}

.NotnowBtn:hover {
  background-color: rgb(239, 227, 255);
}

.AllowBtn:hover {
  background-color: rgb(153, 110, 255);
}
